* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}


.header-font {
    font-family: "Bricolage Grotesque", sans-serif;
}

.purple-bg {
    background-color: #3f00b6;
}

.purple-text {
    color: #3f00b6;
}

.purple-border {
    border: 1px solid #3f00b6;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #5100ff;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z'/%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5100ff;
}